.collapse.show{
  display: flex;
}

.form-group {
  width: 400px;
  height: 300px;
  align-self: flex-start;
  padding-left: 20px;
}

.btn {
  font-weight: 600;
  color: black;
}

.form-check-label {
  padding-left: 20px;
  padding-top: 10px;
  margin: 5px ;
}

button[data-toggle="collapse"] {
  margin: 20px;
}

#add-book-btn {
  display: block;
  margin-top: 10px;
}