.form-group {
  width: 400px;
  height: 300px;
  align-self: left;
  padding-left: 20px;
}

.btn {
  display: block;
}

.form-check-label {
  padding-left: 20px;
  margin: 5px 0px 5px 0px;
}

button.btn-info {
  margin: 20px;
}

.clickable {
  cursor: pointer;
}
.notification {
  display: none;
  position: fixed;       
  top: 230px;             
  left: 50%;             
  transform: translateX(-50%);
  padding: 15px 20px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 1000;         
}

