.form-group {
  width: 400px;
  padding-left: 20px;
  text-align: left;
}

.btn {
  display: inline-block;
}

.form-check-label {
  padding-left: 20px;
  margin: 5px 0;
}

button.btn-info {
  margin: 20px;
}
