.form-group {
  width: 400px;
  height: 300px;
  padding-left: 20px;
}

.btn {
  display: block;
}

.form-check-label {
  padding-left: 20px;
  margin: 5px 0;
}

button.btn-info {
  margin: 20px;
}

#errorMessage {
  margin-right: 0;
  color: white;
  background-color: hsla(0, 88%, 42%, 0.7);
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  font-weight: bold;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: 20px;
}

#errorMessage.show {
  display: block;
  opacity: 1;
  transform: translateX(0);
}