body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c9ce8c;
}

h1 {
    color: #333;
    margin-bottom: 20px;

}

#comic-container {
    margin: 20px, 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#comic-img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #29d234;
    color: #333;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}