		body {
            background-image: url('BookLibrary.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: white;
            font-family: Arial, sans-serif;

        }

        #LibraryBooks {
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.6);
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin: 5px 0;
        }

        h1 {
            text-align: center;
            color: white;
            font-size : 20px;
            font-weight : bold;
        }
